# Python virtual environment
.venv/
venv/
ENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Project specific
Google Chrome for Testing.app/
Google Chrome for Testing.app/**/*
PrivacySandboxAttestationsPreloaded/
PrivacySandboxAttestationsPreloaded/**/*
*.zip
*.csv
outputs/
outputs/**/*
data/
data/**/*
notebooks/
notebooks/**/*

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints/

# Logs
*.log

# Large files
*.dat
*.bin
*.pak
*.dylib
*.framework/ 